In [2]:
class my_class:
    x="ipcs"
p1=my_class()
print(p1.x)

ipcs

In [8]:
# intialization
class data:
    def __init__(self,first_name,last_name):
        self.first_name = first_name
        self.last_name = last_name
d1 = data("Aniket","Kumar")
print(d1.first_name)
print(d1.last_name)

Aniket
Kumar

In [11]:
# String method

class employee:
    def __init__(self,emp_name,emp_designation):
        self.emp_name = emp_name
        self.emp_designation = emp_designation
    def __str__(self):
        return f"{self.emp_name,self.emp_designation}"
s1 = employee("aniket","Data_scientist")
s2 = employee("Ajay","jr_Data")
print(s1)
print(s2)

('aniket', 'Data_scientist')
('Ajay', 'jr_Data')

In [16]:
#encapsulation
class student:
    def __init__(self,name="Aniket",id= 1234):
        self.name = name
        self.id = id
s1 = student()
s2 = student("Raha",567)
print("name:{} id:{}".format(s1.name,s1.id))
print("name:{} id:{}".format(s2.name,s2.id))

name:Aniket id:1234
name:Raha id:567

In [17]:
#inheritance
class family:
    def __init__(self,dad,mom,sis,brother):
        self.dad = dad
        self.mom = mom
        self.sis = sis
        self.brother = brother
    def display(self):
        print(self.dad,self.mom,self.sis,self.brother)
f1 = family("abc","jkl","def","ijk")
f1.display()

abc jkl def ijk

In [18]:
class family:
    def __init__(self,dad,mom,sis,brother):
        self.dad = dad
        self.mom = mom
        self.sis = sis
        self.brother = brother
    def display(self):
        print(self.dad,self.mom,self.sis,self.brother)

class family2(family):
    pass
f2 = family2("and", "erf", "rht", "uhy")
f2.display()

abd erf rht uhy

In [5]:
class Vehical:
    type = "Car"

    def __init__(self,name,model,color):
        self.name = name
        self.model = model
        self.color = color

car1 = Vehical("BMW","X5","Black")
car2 = Vehical("Mahindra","Thar","Black")

print(car1.name,car1.model,car1.color)
print(car2.name,car2.model,car2.color)

BMW X5 Black
Mahindra Thar Black

In [10]:
class Vehical:
    def __init__(self,brand,model):
        self.brand = brand
        self.model=model
    def move(self):
        print("move")

class Car(Vehical):
    pass

class boat(Vehical):
    def move(self):
        print("Sail")

class aeroplane(Vehical):
    def move(self):
        print("Fly")

car1 = Car("Tata","X5")
boat1 = boat("Cagro","Touring")
plane = aeroplane("Indigo","Economic")

for x in (car1,boat1,plane):
    print(x.brand)
    print(x.model)
    x.move()

Tata
X5
move
Cagro
Touring
Sail
Indigo
Economic
Fly

In [25]:
#Polymorphism:
class student:
    def __init__(self,name,batch,age):#(method,parameters)
        self.name  = name
        self.batch = batch
        self.age = age

    def subjects(self):
        print("english")
        
class student1(student):
    pass

class student2(student):
    def subjects(self):
        print("hindi")

class student3(student):
    def subject(self):
        print("Science")
        
class student4(student):
    def subject(self):
        print("Economics")


class student5(student):
    def subject(self):
        print("Mathematics")

student1 = student("Ajay","1st",16) # obj1 = parent class(parameters)
student2 = student("vimal","1st",18)
student3 = student("vijay","3rd",23)
student4 = student("Aniket","1st",24)
student5 = student("Rajiv","4th",23)

for x in (student1,student2,student3,student4,student5): # objects
    print(x.name) #(x.parameter)
    print(x.batch)
    print(x.age)
    x.subjects()

Ajay
1st
16
english
vimal
1st
18
english
vijay
3rd
23
english
Aniket
1st
24
english
Rajiv
4th
23
english

In [24]:
# Anonymous Function in python
def cube(x):
    return x*x*x
cube1 = lambda x: x*x*x 
print(cube(4))
print(cube(2))

# recursive Function
def factorial(n):
    if n == 0 :
        return 1
    else:
        return n* factorial(n-1)
print(factorial(4))

# filter
a = [1,2,3,4,5]

even = filter(lambda x:x%2 == 0,a)
print(list(even))

#map
b = map(lambda x:x*2, a)
print("mapping",list(b))

#reduce
from functools import reduce
c= reduce(lambda a1,b1 : a1*b1,a)
print(c)

64
8
24
[2, 4]
mapping [2, 4, 6, 8, 10]
120

In [34]:
def cube(x):
    return x*x*x
cube1= lambda x: x*x*x
print(cube(5))

def factorial(n):
    if n == 0:
        return 1

    else:
        return n * factorial(n-1)

print(factorial(10))

a = [20,13,34,54,24]
even =  filter(lambda x:x%2 == 0,a)
print(list(even))

b = map(lambda x:x*2,a)
print("mapping",list(b))

c= reduce(lambda a1,b1: a1*b1,a)
print(c)

125
3628800
[20, 34, 54, 24]
mapping [40, 26, 68, 108, 48]
11456640