In [ ]:
# Find the index no of any element:- new_var = var.index(element)
x = [22, 89, 34, 78, 23, 56, 8, 9, 76, [4, 90, 83, 56]]
Index = x.index(34)
print(Index)

In [ ]:
a = int(input("Enter the first no:-" ))
b= int(input("Enter the second no:-" ))

c= a + b

print("Sum of the two number are:-", c)

## LIST [ ]

In [ ]:
# Accessing Element in LIST

a = [1, 2, 3, 4, 5, "Rose", "Lotus", "Lilly", "Mango", "Apple", "Cherry", "Grapes", "Guava"]
print(a)
print(len(a))
print(a[0])
print(a[-2])
print(a[0:5])
print(a[1:])
print(a[:-1])
print(a[-6:-1])
print(a[-9:])
print(a[6])

In [ ]:
# Access element in lIST using LOOP 
a = [1,2,3,4,5, "Rose", "Lotus", "Lilly", "Mango", "Apple", "Cherry", "Grapes", "Guava"]
for x in a:
    print(x)

In [ ]:
#Access element in lIST using List comprehension
a = [1,2,3,4,5,89,74]
b = [val**2 for val in a]
print(b)

In [ ]:
a = [22,89,34,78,23,56,8,9,76]
b = [i for i in a if i > 50]
print(b)

In [ ]:
#Change element in LIST using index
a = [1,2,3,4,5, "Rose", "Lotus", "Lilly", "Mango", "Apple", "Cherry", "Grapes", "Guava"]
a[5] = "Red Rose"
print(a)
a[-1]= "Banana"
print(a)

for i in range(len(a)):
    if a[i] == 5:
       a[i]  = 89
print(a)

In [ ]:
#Change element in LIST using slicing
a = [1,2,3,4,5, "Rose", "Lotus", "Lilly", "Mango", "Apple", "Cherry", "Grapes", "Guava"]
a[1:4] = [67,90]
print(a)
a[1:4:2] = [67,90]
print(a)

In [ ]:
a = [22,89,34,78,23,56,8,9,76]
i =0
while i < len(a):
    if a[i] == 34:
       a[i] = 45
    i += 1
print(a)

In [ ]:
#Append element in LIST[ ]
a = [22, 89, 34, 78, 23, 56, 8, 9, 76, [4, 90, 83, 56]]

#list_name.append(element)
a.append([4,90,83,56])

#list_name.remove(element)
a.remove([4,90,83,56])

#list_name.insert(index, element)
a.insert(2,57)


print(a)

In [ ]:
# Python3 program for Insertion in a list  
# before any element using insert() method 
x = [22, 89, 34, 78, 23, 56, 8, 9, 76, [4, 90, 83, 56]]
print(len(a))

element = 75
before_element = 34

index = x.index(before_element)
x.insert(index,element)
print(x)

In [ ]:
#Insert list, Tuple, Dict and set into a LIST
x = [22, 89, 34, 78, 23, 56, 8, 9, 76, [4, 90, 83, 56]]
y =[36,87,40,97,67]
tup1 = (45,72,68)
dict = {"Name":"Aniket","Sr_no":102,}
set = {34,67,64, "Amritsar", "Delhi"}

       
x.insert(6,set)
x.insert(7,y)
x.insert(8,tup1)
x.insert(9,dict)
print(x)

In [ ]:
z = [22, 89, 34, 78, 23, 56, 8, [36, 87, 40, 97, 67], (45, 72, 68), 9, 76, [4, 90, 83, 56]]
print(len(z))

In [ ]:
a = [22, 89, 34, 78, 23, 56, 8, [36, 87, 40, 97, 67], (45, 72, 68), {'Name': 'Aniket', 'Sr_no': 102}, 9, 76, [4, 90, 83, 56]]
index = a.index({'Name': 'Aniket', 'Sr_no': 102})
print(a[index]["Sr_no"])

In [ ]:
list1 = input("Enter the first list:- ")
list2 = input("Enter the second list:- ")
list1 = list1  + list2 
print(list1)

In [ ]:
a = [36, 87, 40, 97, 67]
b= [22, 89, 34, 78, 23, 56]

c = a + b
print(c)

In [ ]:
my_string = 'hello' 
print(my_string[1:3])

In [ ]:
a = [36, 87, 40, 97, 67, 22, 89, 34, 78, 23, 56]
import bisect
bisect.insort(a,76)
print(a)

In [ ]:
a = [36, 87, 40, 97, 67, 22, 89, 34, 78, 23, 56]
a.sort()
print(a)
bisect.insort(a,74)
print(a)

In [ ]:
a=[22, 23, 34, 36, 40, 56, 67, 74, 78, 87, 89, 97]
b= int(input())

for i in range(len(a)):
    if b < a[i]:
        a.insert(i,b)
        break
else:
    a.append(b)
print(a)

In [ ]:
a=[22, 23, 34, 36, 40, 56, 67, 74, 78, 87, 89, 97]
b= int(input())

for i in range(len(a)):
    if b < a[i]:      
        a.insert(i,b)
        break
else:
    a.append(b)

print(a)

In [ ]:
%pwd

In [ ]:
a  = 0

while a <= 20:
    a += 1
    print(a)

In [ ]:
a  = 0

while a <= 20:
    print(a)
    a += 1

In [ ]:
a  = 0

while a <= 20:
    print(a)
    if a == 12:
       break
    a +=  1

In [ ]:
a  = 0

while a <= 20:
    a += 1
    if a == 12:
       continue
    print(a)

In [ ]:
a  = 0

while a <= 30:
    a += 1
    if a == 12:
       continue
    if a == 18:
       break 
    print(a)

In [ ]:
x = ['India', 'Russia', 'China', 'USA', 'Ukraine', 'Australia']

for i in x:
    if i == "USA":
       continue
    if i == "Ukraine":
        break
            
    print(i)

In [ ]:
n = int(input("enter n value: "))

for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print()

In [ ]:
rows = 10

for i in range(rows):
    for j in range(i+1):
        print("*",end= " ")
    print()

In [15]:
a = int(input("Enter your Value: "))

while a <= 50:
    a += 1
    if a == 10:
       continue 
    print(a)

Enter your Value:  14

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [12]:
n = 5

for i in range(n):
    for j in range(n-i-1):
        print(' ', end=" ")
    for k in range(2*i+1):
        print('*',end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#creating LIST

In [2]:
a = [1,2,3,4,5,6]
my_list = ["Alice","john","Abhi"]
print(a,my_list)

[1, 2, 3, 4, 5, 6] ['Alice', 'john', 'Abhi']

In [4]:
my_list = ["Alice","john","Abhi",45,56,23]
print(my_list)
len(my_list)

['Alice', 'john', 'Abhi', 45, 56, 23]

6

In [8]:
#Indexing/Slicing
my_list = ["Alice","john","Abhi",45,56,23]
my_list[0]
my_list [1:]
my_list[::-1]

[23, 56, 45, 'Abhi', 'john', 'Alice']

In [9]:
my_list + ["Suraj"]

['Alice', 'john', 'Abhi', 45, 56, 23, 'Suraj']

In [10]:
#Reassining
my_list = my_list + ["Sohan"]
my_list

['Alice', 'john', 'Abhi', 45, 56, 23, 'Sohan']

In [13]:
my_list * 2

['Alice',
 'john',
 'Abhi',
 45,
 56,
 23,
 'Sohan',
 'Alice',
 'john',
 'Abhi',
 45,
 56,
 23,
 'Sohan']

In [16]:
my_list.append("Name")
print(my_list)

['Alice', 'john', 'Abhi', 45, 56, 23, 'Sohan', 'Name', 'Name', 'Name']

In [18]:
my_list.pop()

'Name'

In [19]:
my_list.remove("Name")

In [20]:
my_list

['Alice', 'john', 'Abhi', 45, 56, 23, 'Sohan', 'Name']

In [21]:
my_list.pop()
print(my_list)

['Alice', 'john', 'Abhi', 45, 56, 23, 'Sohan']

In [22]:
my_list.pop(6)

'Sohan'

In [23]:
my_list

['Alice', 'john', 'Abhi', 45, 56, 23]

In [25]:
new_list = [1,2,3,4,5,6,7]
new_list.reverse()
print(new_list)

[7, 6, 5, 4, 3, 2, 1]

In [26]:
new_list.sort()

In [27]:
new_list

[1, 2, 3, 4, 5, 6, 7]

# Nesting list

In [28]:

list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = [9,10,11,12]

matrix = [list1,list2,list3]

In [74]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [32]:
matrix[0][1]

2

# Dictionaries

In [34]:
my_dict = {"Name":"Akash","Branch":"CSE","Year":2025}
my_dict["Year"]

2025

In [37]:
dict1 = {"Name":"Akash","Branch":"CSE","Year":2025,"Score":[12,45,109,55]}
dict1["Score"][0]

12

In [45]:
dict1["Name"].upper()
dict1["Branch"].lower()
print(dict1)

{'Name': 'Akash', 'Branch': 'CSE', 'Year': 2025, 'Score': [12, 45, 109, 55]}

In [49]:
dict1["Year"] = dict1["Year"] - 25
dict1["Year"]

2000

In [55]:
dict1["Year"] += 25
dict1["Year"] 
print(dict1)

{'Name': 'Akash', 'Branch': 'CSE', 'Year': 2081, 'Score': [12, 45, 109, 55]}

In [56]:
# Create a dictionary
dict2 = {"Car":10,"T.V":100,"Fans":200,"Cooler":120}
dict2

{'Car': 10, 'T.V': 100, 'Fans': 200, 'Cooler': 120}

In [57]:
dict2["Radio"] = 150
dict2

{'Car': 10, 'T.V': 100, 'Fans': 200, 'Cooler': 120, 'Radio': 150}

In [58]:
dict2["Car"] = 1000
dict2

{'Car': 1000, 'T.V': 100, 'Fans': 200, 'Cooler': 120, 'Radio': 150}

# Nesting Dictionaries

In [59]:
dict1 = {"Key1":{"Nestkey":{"subnestkey":"value"}}}
dict1

{'Key1': {'Nestkey': {'subnestkey': 'value'}}}

In [69]:
dict1["Key1"]["Nestkey"]["subnestkey"][0:5].upper()
dict1

{'Key1': {'Nestkey': {'subnestkey': 'value'}}}

In [75]:
dict1 = {'Car': 1000, 'T.V': 100, 'Fans': 200, 'Cooler': 120, 'Radio': 150}

In [76]:
dict1.keys()

dict_keys(['Car', 'T.V', 'Fans', 'Cooler', 'Radio'])

In [77]:
dict1.values()

dict_values([1000, 100, 200, 120, 150])

In [78]:
dict1.items()

dict_items([('Car', 1000), ('T.V', 100), ('Fans', 200), ('Cooler', 120), ('Radio', 150)])

In [86]:
lst  = ['Car', 'T.V', 'Fans', 'Cooler', 'Radio']

lst1 = [x.upper() for x in lst]
print(lst1)

['CAR', 'T.V', 'FANS', 'COOLER', 'RADIO']

In [87]:
tup1 = (23,34,56,47,89)
len(tup1)

5

In [88]:
tup1[0]

23

In [93]:
tup1[0:4]

(23, 34, 56, 47)

In [94]:
tup1[::-1]

(89, 47, 56, 34, 23)

In [99]:
tup1.index(23)

0

In [173]:
tup1[0] = "Abhi

TypeError: 'tuple' object does not support item assignment

In [101]:
tup1.append("Abhi"

AttributeError: 'tuple' object has no attribute 'append'

# Sets

In [102]:
a = set()

In [116]:
a.add(4)

In [117]:
a

{1, 2, 3, 4}

In [118]:
list1 = [1,2,3,4,4,5,6,7,8,8,9,]

In [119]:
set(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [120]:
1 > 2

False

In [123]:
if True:
    print("It was true")

It was true

In [127]:
x = False

if x:
    print("x was true!")

else:
    print("I will be printed in any case where x is not true")

I will be printed in any case where x is not true

In [131]:
loc = input("Enter your input") #assignment input

if loc == "Auto shop": # evaluater
    print("Welcome to the Auto shop!")

elif loc == "Bank":
    print("Welcome to the Bank")

else:
    print("Where are you")

Enter your input Bank

Welcome to the Bank

In [140]:
list1 = [1,2,3,4,4,5,6,7,8,8,9,]
for n in list1:
    if n % 2 == 0:
        print(n)

2
4
4
6
8
8

In [145]:
list2 = [1,2,3,4,4,5,6,7,8,8,9]

for num in list2:
    if num % 2 != 0:
        print(num)

    else:
        print("even number")

1
even number
3
even number
even number
5
even number
7
even number
even number
9

In [150]:
list3 = [2,4,5,7,8,9]
lst_sum = 0

for n in list3:
    lst_sum += n

print(lst_sum)

35

In [151]:
list4 = sum(list3)
list4

35

In [153]:
for letter in "object oriented ":
    print(letter)

o
b
j
e
c
t

o
r
i
e
n
t
e
d

In [154]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [155]:
list2 = [(2,4),(5,7),(8,9)]
for n in list2:
    print(n)

(2, 4)
(5, 7)
(8, 9)

In [160]:
list2 = [(2,4),(5,7),(8,9)]
for (n1,n2) in list2:
    print(n1,n2)

2 4
5 7
8 9

In [166]:
dic = {"Car":10,"T.V":100,"Fans":200,"Cooler":120}

for d in dic:
    print(d)

Car
T.V
Fans
Cooler

In [164]:
dic.items()

dict_items([('Car', 10), ('T.V', 100), ('Fans', 200), ('Cooler', 120)])

In [172]:
dic = {"Car":10,"T.V":100,"Fans":200,"Cooler":120}

for d,e in dic.items():
    print(d,":",e)

Car : 10
T.V : 100
Fans : 200
Cooler : 120