# Strings

In [46]:
# Creating a string
a = 'i am a datascientist'
b = "i am datascientist"

print(a,b)

i am a datascientist i am datascientist

In [98]:
#Multiple line string
str1 = """A string is a sequence of characters.\nPython treats anything inside quotes as a string.\n
This includes letters, numbers, and symbols.\n 
Python has no character data type so single character is a string of length 1."""
print(str1)

A string is a sequence of characters.
Python treats anything inside quotes as a string.

This includes letters, numbers, and symbols.

Python has no character data type so single character is a string of length 1.

In [61]:
# Accessing character in string
s = 'i am a datascientist'
print(s[3])
print(s[:7])
print(s[1:])
print(s[-9:-1])
print(s[::-1])

m
i am a
 am a datascientist
scientis
tsitneicsatad a ma i

## String_Method

| Function Name  | Description |
|---------------|-------------|
| `capitalize()`  | Converts the first character of the string to a capital (uppercase) letter |
| `casefold()`    | Implements caseless string matching |
| `center()`      | Pads the string with the specified character |
| `count()`       | Returns the number of occurrences of a substring in the string |
| `encode()`      | Encodes strings with the specified encoded scheme |
| `endswith()`    | Returns `True` if a string ends with the given suffix |
| `expandtabs()`  | Specifies the amount of space to be substituted with the `\t` symbol in the string |
| `find()`        | Returns the lowest index of the substring if it is found |
| `format()`      | Formats the string for printing it to console |
| `format_map()`  | Formats specified values in a string using a dictionary |
| `index()`       | Returns the position of the first occurrence of a substring in a string |
| `isalnum()`     | Checks whether all the characters in a given string are alphanumeric or not |
| `isalpha()`     | Returns `True` if all characters in the string are alphabets |
| `isdecimal()`   | Returns `True` if all characters in a string are decimal |
| `isdigit()`     | Returns `True` if all characters in the string are digits |
| `isidentifier()` | Checks whether a string is a valid identifier or not |
| `islower()`     | Checks if all characters in the string are lowercase |
| `isnumeric()`   | Returns `True` if all characters in the string are numeric characters |
| `isprintable()` | Returns `True` if all characters in the string are printable or the string is empty |
| `isspace()`     | Returns `True` if all characters in the string are whitespace characters |
| `istitle()`     | Returns `True` if the string is a title-cased string |
| `isupper()`     | Checks if all characters in the string are uppercase |
| `join()`        | Returns a concatenated string |
| `ljust()`       | Left aligns the string according to the width specified |
| `lower()`       | Converts all uppercase characters in a string into lowercase |
| `lstrip()`      | Returns the string with leading characters removed |
| `maketrans()`   | Returns a translation table |
| `partition()`   | Splits the string at the first occurrence of the separator |
| `replace()`     | Replaces all occurrences of a substring with another substring |
| `rfind()`       | Returns the highest index of the substring |
| `rindex()`      | Returns the highest index of the substring inside the string |
| `rjust()`       | Right aligns the string according to the width specified |
| `rpartition()`  | Splits the given string into three parts |
| `rsplit()`      | Splits the string from the right by the specified separator |
| `rstrip()`      | Removes trailing characters |
| `splitlines()`  | Splits the lines at line boundaries |
| `startswith()`  | Returns `True` if a string starts with the given prefix |
| `strip()`       | Returns the string with both leading and trailing characters removed |
| `swapcase()`    | Converts all uppercase characters to lowercase and vice versa |
| `title()`       | Converts string to title case |
| `translate()`   | Modifies string according to given translation mappings |
| `upper()`       | Converts all lowercase characters in a string into uppercase |
| `zfill()`       | Returns a copy of the string with `0` characters padded to the left side of the string |

In [84]:
# String_methods
s = "A string is a sequence of Characters"
print(s.capitalize())
print(s.upper())
print(s.lower())
print(s.title())
print(s.find("e"))
print(s.casefold())
print(s.center(0))
print(s.count("A"))
print(s.encode())
print(s.endswith(a))
print(s.expandtabs())
print(s.format())
print(s.format_map("string"))
print(s.index("o"))
print(s.isalpha())
print(s.isdecimal())
print(s.isidentifier())
print(s.isdigit())
print(s.isnumeric())
print(s.isprintable())
print(s.isupper())
print(s.islower())
print(s.istitle())
print(s.ljust(2))

A string is a sequence of characters
A STRING IS A SEQUENCE OF CHARACTERS
a string is a sequence of characters
A String Is A Sequence Of Characters
15
a string is a sequence of characters
A string is a sequence of Characters
1
b'A string is a sequence of Characters'
False
A string is a sequence of Characters
A string is a sequence of Characters
A string is a sequence of Characters
23
False
False
False
False
False
True
False
False
False
A string is a sequence of Characters

In [95]:
# String immutabilty
name = "Amitabh"
name = "b" + "h" + name[1:]
print(name)

bhmitabh

In [20]:
#String_Formating using f-string
name = "Amitabh"
age = 58
print(f"Name:{name}, Age:{age} ")

Name:Amitabh, Age:58

In [21]:
#String_Formating using format()
s = "My name is {} and i am {} year old.".format("Abhishek",28)
print(s)

My name is Abhishek and i am 28 year old.

In [11]:
# Concetenation

s1 = "Anmol"
s2 = "Saxena"
s3 = s1 + " " + s2
print(s3)

Anmol Saxena

In [7]:
a = "aniketkumar"
print(a.find("e"))

4

In [9]:
# in membership
s = "Mynameisaniket"
print("name" in s)
print("age" in s)
print("name" not in s)
print("abc" not in s)

True
False
False
True

In [97]:
# escape character
escape  = "I\nLove\tcricket"
print(escape)

I
Love	cricket

In [106]:
# Python program to check whether the string is Symmetrical or Palindrome
def palindrome(s):
    return s == s[::-1]
def symmetrical(s):
    length = len(s)
    mid = length//2
    if length % 2 == 0:
        return s[:mid] == s[mid:]
    else:
        return s[:mid] == s[mid+1:]

s = input("Enter your word")
if palindrome(s):
    print("Palindrome")
else:
    print("Not Palindrome")
    
if symmetrical(s):
    print("Symmetrical")
else:
    print("Not Symmetrical")

Enter your word aaaaa

Palindrome
Symmetrical

In [107]:
def palindrome(s):
    return s == s[::-1]

def symmetrical(s):
    length = len(s)
    mid = length // 2
    if length % 2 == 0:
        return s[:mid] == s[mid:]
    else:
        return s[:mid] == s[mid+1:]

str = ["khokho", "amaama", "malayalam"]
for s in str:
    print(f"Testing string: {s}")
    
    if symmetrical(s):
        print("Symmetrical")
    else:
        print("Not Symmetrical")

    if palindrome(s):
        print("Palindrome")
    else:
        print("Not Palindrome")

Testing string: khokho
Symmetrical
Not Palindrome
Testing string: amaama
Symmetrical
Palindrome
Testing string: malayalam
Not Symmetrical
Palindrome

###  Find length in string

In [115]:
# using len()
a = "aniket"
print(len(a))

6

In [112]:
# using for loop
a = "aniket"
count = 0
for i in a:
    count += 1
print(count)

6

In [117]:
#Using str.count()
a = "aniket"
length = a.count("") - 1
print(length)

6

In [122]:
a = "aniket"
#Initialize a variable 'cnt' 
#to keep track of the string'cnt length
cnt = 0

for i, a in enumerate(a):
    # Increment 'cnt' by 1 for each character in the string
    cnt += 1
print(cnt)

6

In [8]:
cnt = 0
while (cnt < 3) :
    cnt = cnt + 1
    print()

0
0
0

In [6]:
cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek